/* General */
body{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    padding: 0px;
    margin: 0px;
    background-color: #040404;
}
h2{
    margin-top: 5vh;
    font-size: 2.5em;
}
h3{
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}

.content{
    margin: 0px;
    min-height: 100vh;
    overflow: visible;
}

.center{
    max-width: 770px;
    margin: auto;
    display: table;
    text-align: center;
    min-height: 100vh;
}

.center-v{
    display: table-cell;
    vertical-align: middle;
}

div.home .center-v > h2{
    font-size: 40px;
}

.goToHome{
    color: white;
    text-decoration: none;
    float: right;
    right: 10%;
    bottom: 70px;
    position: relative;
    transition: all 0.5s ease;
}

.goToHome > p{
    font-size: 1.2em;
    margin: 0px;
}

.goToHome > i{
    font-size: 1.8em;
    position: relative;
    left: 20px;
}

.goToHome:hover{
    bottom: 80px;
}

/* Header */
/* Menu */
header{
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.menuContainer{
    width: 250px;
}

#menu{
    position: relative;
    left: 0px;
    margin-top: 50px;
    float: left;
    cursor: pointer;
    transition: all 0.5s ease;
}

#menu:hover{
    left: 10px;
}

#menu.active:hover{
    left: -10px;
}

#menu > *{
    display: inline-block;
}

#menu > p{
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0px;
    margin-right: 10px;
}

#menu > i{
    font-size: 2em;
    position: relative;
    top: 5px;
}

.menuCenter{
    width: 90px;
    margin: auto;
}

header .center{
    margin: auto;
    max-width: 1200px;
}

.MenuNav{
    z-index: 0;
    position: fixed;
    text-align: center;
    background-color: #28d244;
    width: 250px;
    top: 0px;
    left: -250px;
    height: 100%;
}

.navActive{
    left: 0px;
}

.navContent > *{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.3em;
    margin: 20px 0px;
}

.navContent{
    margin-top: 150px;
}

.active{
    display: block;
}

.MenuNav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Twitter */

#twitter {
    color: white;
    float: right;
    font-size: 3em;
    position: relative;
    top: 42px;
    right: 5%;
    padding: 0px;
    transition: all 1s ease;
}

#twitter:hover{
    color: #28d244;
}


/* First Content */
/* Title */
.zera{
    position: relative;
    right: 19%;
    margin-bottom: -50px;
}
.zera > *{
    margin: 0px;
}
.zera > .first{
    position: relative;
    font-size: 70px;
    top: 100px;
    right: 100px;
    font-weight: bold;
}
.zera > .a{
    color:  #28d244;
    font-size: 140px;
    font-weight: bold;
}
.zera > .second{
    position: relative;
    font-size: 70px;
    bottom: 99px;
    left: 180px;
    font-weight: bold;
}
/* Discover */

.discover{
    color: white;
    position: relative;
    top: 0px;
    font-size: 2.2em;
    transition: all 0.5s ease;
}

.discover:hover{
    top: 15px;
}

/* Second Content : Le projet */

.synopsis{
    text-align: justify;
}

.synopsis > p{
    font-size: 1.1em;
}

#LeProjet > .center {
    max-width: 70%;
}

.progressBarContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.progressBarContainer > *{
    width: 200px;
    display: inline-block;
}

/* Third Content */


#Equipe > .center {
    min-width: 70%;
}

#Equipe .peoples{
    width: 100%;
}

#Equipe .peoples > .left,  #Equipe .peoples > .right{
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(50% - 5px);
}

#Equipe .peoples > .left .text,  #Equipe .peoples > .right .text{
    display: inline-block;
    margin: auto;
    margin-left: 15px;
}

#Equipe .peoples > .left p,  #Equipe .peoples > .right p{
    display: block;
    margin: 0px;
    text-align: left;
}

#Equipe .peoples{
    display: flex;
    flex-wrap: wrap;
}

.image-cropper {
    height: 150px;
    width: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}
.image-cropper > img{
    height: 100%;
}

#Equipe .member{
    display: flex;
    align-items: stretch;
    margin-top: 20px;
}

#Equipe .name{
    font-size: 1.3em;
    font-weight: 400;
}

#Equipe .poste{
    color: #28d244;
}

#Equipe .description{
    font-style: italic;
}

#Equipe .left .member{
    text-align: left;
}

#Equipe .right .member{
    text-align: right;
}

#Equipe .right{
    justify-content: flex-end;
}